<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
  <h:head>
        <title>GRUPOS</title>
    </h:head>
    <h:body>
        <h2>Lista de Grupos</h2>
        <br/>
        <h:form>            
            <p:dataTable value="#{grupoControle.lista}" var="g"
                         paginator="true" rows="5"
                         emptyMessage="Nenhum grupo cadastrado!">
                <p:column filterBy="${g.nome}" filterMatchMode="contains">
                    <f:facet name="header">Nome</f:facet>
                    <h:outputText value="#{g.nome}"/>
                </p:column>
               
                <p:column headerText="Operações" width="100">
                    <p:commandButton icon="ui-icon-pencil" ajax="false" actionListener="#{grupoControle.editar(g)}" action="grupoedita"/>
                    <p:commandButton icon="ui-icon-closethick" ajax="false" actionListener="#{grupoControle.excluir(g)}"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="Novo" action="grupoedita" actionListener="#{grupoControle.novo()}" ajax="false"/>
              <p:commandButton value="Voltar" action="/index.xhtml" ajax="false"/> 
        </h:form>
    </h:body>
</html>