<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
  <h:head>
        <title>GRUPOS</title>
    </h:head>
    <h:body>
        <h2>Cadastro de Grupo</h2>
        <br/>
        <h:form>
            <p:messages/>
            <p:growl/>
            <h:panelGrid columns="3">
                Nome:<p:inputText id="nome" value="#{grupoControle.grupo.nome}" required="true" requiredMessage="O nome é obrigatório!"/>
                <p:message for="nome"/>
                 subgrupo:<p:inputText id="subgrupo" value="#{grupoControle.subgrupo.nome}" required="true" requiredMessage="O subgrupo é obrigatório!"/>
                <p:message for="subgrupo
            <p:commandButton value="Salvar" actionListener="#{grupoControle.salvar()}" ajax="false" action="grupolista"/>
            <p:commandButton value="Cancelar" ajax="false" action="grupolista" immediate="true"/>
            
        </h:form>
    </h:body>
</html>
